i,a {
    color: #5F6368;
}
input {
    border: none;
    outline: none;
    width: 100%;
}
form {
    box-shadow: 2px 2px 5px #5F6368;
    width: 100%;
}
#showpass {
    color: grey;
}
.passContainer {
    position: relative;
}
span {
    position: absolute;
    right: 5px;
    bottom: 5px;
}
.hide {
    display: none;
}