<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajando con Eventos - Colores</title>
    <link rel="stylesheet" href="/css/colores.css">
</head>
<body>
    <main class="container">
        <h2>Seleccione su color preferido</h2>
        <section class="colores"> 
            <article class="color" id="red"></article>
            <article class="color" id="blue"></article>
            <article class="color" id="yellow"></article>
            <article class="color" id="green"></article>
        </section>
        <h2>Aplique el color sobre la caja que desee</h2>
        <section class="cajas">
            <article id="caja1"></article>
            <article id="caja2"></article>
            <article id="caja3"></article>
        </section>
    </main>
    <script src="/js/colores.js"></script>
</body>
</html>